.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img1{
    float: left;
}
body{
    margin-top: 100px;

}
.wrapper{
    display: inline-block;

}
.wrapper p{
    width: 150px;
}
.btn{
    padding: 5px 10px;
    border-color: #0073e6;
}
img{
    margin: 30px;
    width: 250px;
    border-radius: 20px;
    height: 300px;
    }
    .background-color{
        background-color: #fafbfc;
    }
    img{
        margin: 30px;
        width: 250px;
        border-radius: 20px;
        height: 300px;
        }



   
    
   
   