.mdiv{
    background-color:rgb(91, 189, 228); 
    width: 300px; 
    height: 300px;
      padding: 10px; 
      margin-left: 50px;
      border-radius: 30px;
      margin-top: 50px;
      box-shadow: 0px 10px 10px 0px rgb(25, 161, 215);
      
}
.btn{
    height: 40px;
    width: 130px;
   position:fixed;
   left: 10px;
   top: 20px;

    border: solid black 2px;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: blue;
}
.btn:hover{
    font-size: 18px;
    background-color: darkblue;
}
body{
    background-color: #9bdfe8;
}
.h{
    text-align: center;
     color: blue;
      font-size: 50px;
}
.h2{
    font-size: 30px;
    font-style: normal;
}
.li{
    margin-top: 5px;
}
.uli{
    margin-top: 10px;
}
