a {
  text-decoration: none;
  color: black;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.5);
  color: #000;
  display: flex;
  justify-content:space-between;
  align-items: center;  
}

.header-img1 {
  height: 50px;
  width: 55%;
  margin-left: 30px; 
}

.navbar a {
  font-size: 25px;
  color: #000;
  text-decoration: none;
  font-weight: 520;
  margin-left: 40px;
  
}
#check {
  display: none;
}
.menu-bar {
  font-size: 50px;
  color: #000;
  position: absolute;
  right: 30px;
  cursor: pointer;
  display: none;
  margin-bottom: 20px;
}
.btn {
  margin: 0 20px;
  background-color: #0e4379;
  color: white;
  border-radius: 6px;
  padding: 12px 20px;
  border: none;
  font-size: large;
}

@media screen and (max-width: 768px) 
{
   
    .header{
        width: 98%;
       height: 40px;
    }
    .menu-bar {
      margin-top: 20px;
  }
  .btn{
    display: block;
    margin: 10px auto;
  }
  }
@media screen and (max-width: 1025px) {
  .menu-bar {
    display: inline-flex;
    margin-right: 10PX;
    
   
  }
  #check:checked ~ .menu-bar #menu-icon {
    display: none;
  }
  .menu-bar #close-icon {
    display: none;
  }
  #check:checked ~ .menu-bar #close-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 99%;
    height: 0;
   background-color: #fff;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: hidden;
    transition: 0.5s ease;
  }
  #check:checked ~ .navbar {
    height: 320px;
  }
  .navbar a {
    display: block;
    font-size: 28px;
    margin: 15px 0;
    text-align: center;
    color: black;
  }
  .btn{
    display: block;
    margin: 10px auto;
  }
}



.footer {


  background-color: #11baf3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.footer-div-1 {


  margin-left: 5%;


}

.footer-img {
  height: 90px;
  margin-left: 10%;
  margin-top: 3%;
}

.footer-p {
  margin-left: 10%;
  color: #fff;

}


.footer-div-2-p {

  font-size: 25px;
  color: blue
}

.footer-div-2-a {
  color: white;

}

.footer-contact-p {
  margin-left: 27%;
  font-size: 25px;
  font-weight: 400;
  color: blue;
}

.footer-contact-a {
  color: #fff;
}