*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table{
    width: 90%; 
    text-align: center; 
    margin:30px 10px 10px 60px;
    font-size: 20px;
    background-color: #9AC8CD; 
    border: 2px solid black;
}
.btn:hover{
    font-size: 18px;
    background-color: darkblue;
}
.h{
    text-align: center;
     color:#0e4379;
      margin-left:300px; 
      margin-top: 200px;
      display: inline; 
      font-size: 50px;
}
.th{
    font-size: 20px;
     color:white;
      background-color: #0e4379;
       padding: 10px;
}
.p{
    padding: 10px;
}
.div{
    text-align: center;
    background-color: #9AC8CD; 
         font-size: 20px;
      font-style: oblique ; 
      margin:50px 250px 10px 250px;
      border-radius: 50px;
      padding: 20px;
      box-shadow: 0px 10px 10px 10px  #8ecad1;
}
.img{
    width: 100px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.mdiv{
    background-color: #9AC8CD; 
    width: 300px; 
    height: 300px;
      padding: 20px; 
      margin-left: 80px;
      border-radius: 30px;
      margin-top: 40px;
      margin-bottom: 50px;
      box-shadow: 1px 10px 10px 0px  #8ecad1;
}
.m1div{
    display: flex; 
    align-items: center;
}
    

body{
            background-color: hsl(188, 45%, 86%);
}
.header-img {
    height: 70px;
  
    margin-left: 60px;
    margin-top: -10px;
    margin-bottom: 5px;
}

.college-id-offer-img {
    width: 100%;
    margin-top: 20px;


}

.waterpark-page {
    margin-left: 100px;

}

.amusment-page {
    margin-left: 80px;
}

.tickets-page {
    margin-left: 80px;
}

.offers-page {
    margin-left: 80px;
}

.btn {
    margin-left: 50px;
    background-color: #0e4379;
    color: white;
    border-radius: 6px;
    padding: 12px 20px;
    border: none;
    font-size: large;
}
@media screen and (max-width: 768px) {
    .table {
        width: 100%; 
        margin: 10px;
    }

    .h {
        margin-left: 0;
    }

    .div {
        margin: 10px; 
    }

    .img {
        display: none; 
    }
    .mdiv {
        width: 100%; 
        margin-left: 0; 
        margin-right: 0; 
        border-radius: 10px;
    }

    .header{
        width: 98%;
       height: 40px;
    }
    .menu-bar {
      margin-top: 20px;
  }
  .btn{
    display: block;
    margin: 10px auto;
  }
  }
  