body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #00aaff;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  .container {
    height: 290px;
    width: 1020px;
    background-color: #0cc0df;
    padding: 5px;
    border-radius: 5px;
  }

  .btn{
    background-color: tomato;
    font-size: 30px;
    border: none;


  }
body
{
   background-color:gray;
}
  

  