.table{
    width: 90%; 
    text-align: center; 
    margin:30px 10px 10px 50px;
    font-size: 20px;

}
.btn{
    height: 40px;
    width: 130px;
    margin-left: 550px;
    margin-top: 20px;
    border: solid black 2px;
    border-radius: 30px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: blue;
}
.btn:hover{
    font-size: 18px;
    background-color: darkblue;
}
.h{
    text-align: center;
     color:blue;
      margin-left:300px; 
      display: inline; 
      font-size: 50px;
}
.th{
    font-size: 20px;
     color:white;
      background-color: blue;
       padding: 10px;
}